{% extends 'index.html' %}
{% block title %}
  Crear Material Request
{% endblock %}
{% block header %}
  Material Request
{% endblock %}

{% block body %}
  <form method="POST" action="{% url 'stores:material_requests:create' %}">
    {% csrf_token %}
    <div class="modal-body">{{ form.as_p }}</div>
    <div class="modal-footer">
      <a href="{% url 'stores:material_requests:index' %}" class="btn btn-secondary me-1">Cancelar</a>
      <button type="submit" class="btn btn-primary">Confirmar</button>
    </div>
  </form>
  {% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <hr />
    <div id="item_formset">
      {{ item_formset.management_form }}
      {% for form in item_formset %}
        {{ form.as_p }}
      {% endfor %}
    </div>
    <button type="button" id="add_item">Agregar Item</button>
    <button type="submit">Guardar Material Request</button>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var addButton = document.getElementById('add_item')
      if (addButton) {
        addButton.addEventListener('click', function () {
          var formsetDiv = document.getElementById('item_formset')
          if (formsetDiv) {
            var form_idx = formsetDiv.children.length - 1
            var lastDiv = formsetDiv.lastElementChild
            var newDiv = document.createElement('div')
            newDiv.innerHTML = lastDiv.innerHTML
            var inputs = newDiv.getElementsByTagName('input')
    
            // Limpiar valores de los inputs clonados
            for (var i = 0; i < inputs.length; i++) {
              inputs[i].value = ''
            }
    
            // Añadir botón "Eliminar Item"
            var deleteButton = document.createElement('button')
            deleteButton.textContent = 'Eliminar Item'
            deleteButton.type = 'button'
            deleteButton.className = 'delete-item-btn'
            deleteButton.addEventListener('click', function () {
              newDiv.remove()
            })
    
            // Verificar si ya existe un botón de eliminar en la fila antes de agregar uno nuevo
            var existingDeleteButton = newDiv.querySelector('.delete-item-btn')
            if (!existingDeleteButton) {
              newDiv.appendChild(deleteButton)
              var newhr = document.createElement('hr')
              newDiv.appendChild(newhr)
            }
    
            // Ajustar ids y names de los inputs clonados
            for (var i = 0; i < inputs.length; i++) {
              var newId = form_idx + 1
              inputs[i].setAttribute('id', inputs[i].getAttribute('id').replace('-' + form_idx + '-', '-' + newId + '-'))
              inputs[i].setAttribute('name', inputs[i].getAttribute('name').replace('-' + form_idx + '-', '-' + newId + '-'))
            }
            form_idx++
            formsetDiv.appendChild(newDiv)
          }
        })
      }
    })
  </script> {% endcomment %}
{% endblock %}
