{% extends 'index.html' %}

{% block header %}
  Material Requests
{% endblock %}
{% block title %}
  Crear material request
{% endblock %}
{% block body %}
  <div class="d-flex justify-content-end align-items-center">
    <div class="col-12 text-end p-3">
      <button class="btn btn-primary" onclick="openModal('#modal_material_request', '{% url 'material_requests:create' %}')">Nuevo Branch</button>
    </div>
  </div>
  {% if material_requests %}
    <div class="d-flex justify-content-center">
      <div class="col-12 p-3">
        <table class="table patientsHeadClass table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Country</th>
              <th>State</th>
              <th>City</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for material_request in material_requests %}
              <tr>
                <td>{{ material_request.id }}</td>
                <td>{{ material_request.name }}</td>
                <td>{{ material_request.country }}</td>
                <td>{{ material_request.state }}</td>
                <td>{{ material_request.city }}</td>
                <td>
                  <button class="btn" onclick="openModal('#modal_material_request', '{% url 'material_requests:update' material_request.id %}')"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn" onclick="openModal('#modal_material_request','{% url 'material_requests:delete' material_request.id %}')"><i class="fa-solid fa-trash-can"></i></button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <h1>No existen material_requests</h1>
  {% endif %}
  <div class="modal fade" id="modal_material_request" role="dialog"></div>
{% endblock %}
