{% extends 'index.html' %}

{% block header %}
  Material Requirement
{% endblock %}
{% block title %}
  Crear material requirement
{% endblock %}
{% block body %}
  <div class="d-flex justify-content-end align-items-center">
    <div class="col-12 text-end p-3">
      <button class="btn btn-primary" onclick="openModal('#modal_material_requirement', '{% url 'material_requirements:create' %}')">Nuevo Material Requirement</button>
    </div>
  </div>
  {% if material_requirements %}
    <div class="d-flex justify-content-center">
      <div class="col-12 p-3">
        <table class="table patientsHeadClass table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Country</th>
              <th>State</th>
              <th>City</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for material_requirement in material_requirements %}
              <tr>
                <td>{{ material_requirement.id }}</td>
                <td>{{ material_requirement.name }}</td>
                <td>{{ material_requirement.country }}</td>
                <td>{{ material_requirement.state }}</td>
                <td>{{ material_requirement.city }}</td>
                <td>
                  <button class="btn" onclick="openModal('#modal_material_requirement', '{% url 'material_requirements:update' material_requirement.id %}')"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn" onclick="openModal('#modal_material_requirement','{% url 'material_requirements:delete' material_requirement.id %}')"><i class="fa-solid fa-trash-can"></i></button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <h1>No existen material_requirements</h1>
  {% endif %}
  <div class="modal fade" id="modal_material_requirement" role="dialog"></div>
{% endblock %}
