{% extends 'index.html' %}
{% block title %}
  Edit Item Request
{% endblock %}
{% block header %}
  Item Request
{% endblock %}

{% block body %}
  <form method="POST" action="{% url 'stores:item_requests:update' object.id %}">
    {% csrf_token %}
    <div class="modal-body">{{ form.as_p }}</div>
    <div class="modal-footer">
      <a href="{% url 'stores:item_requests:index' %}" class="btn btn-secondary me-1">Cancelar</a>
      <button type="submit" class="btn btn-primary">Editar</button>
    </div>
  </form>
{% endblock %}
