{% extends 'index.html' %}

{% block header %}
  Item Requests
{% endblock %}
{% block title %}
  Crear item request
{% endblock %}
{% block body %}
  <div class="d-flex justify-content-end align-items-center">
    <div class="col-12 text-end p-3">
      <button class="btn btn-primary" onclick="openModal('#modal_item_request', '{% url 'item_requests:create' %}')">Nuevo Item Request</button>
    </div>
  </div>
  {% if item_requests %}
    <div class="d-flex justify-content-center">
      <div class="col-12 p-3">
        <table class="table patientsHeadClass table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Country</th>
              <th>State</th>
              <th>City</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for item_request in item_requests %}
              <tr>
                <td>{{ item_request.id }}</td>
                <td>{{ item_request.name }}</td>
                <td>{{ item_request.country }}</td>
                <td>{{ item_request.state }}</td>
                <td>{{ item_request.city }}</td>
                <td>
                  <button class="btn" onclick="openModal('#modal_item_request', '{% url 'item_requests:update' item_request.id %}')"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn" onclick="openModal('#modal_item_request','{% url 'item_requests:delete' item_request.id %}')"><i class="fa-solid fa-trash-can"></i></button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <h1>No existen item_requests</h1>
  {% endif %}
  <div class="modal fade" id="modal_item_request" role="dialog"></div>
{% endblock %}
