{% extends 'index.html' %}
{% block title %}
  Edit Stock
{% endblock %}
{% block header %}
  Stock
{% endblock %}

{% block body %}
  {% comment %} <form method="POST" action="{% url 'stores:stocks:update' pk_store=store.id pk=object.id %}">
    {% csrf_token %}
    <div class="modal-body">{{ form.as_p }}</div>
    <div class="modal-footer">
      <a href="{% url 'stores:stocks:index' pk_store=store.id %}" class="btn btn-secondary me-1">Cancelar</a>
      <button type="submit" class="btn btn-primary">Editar</button>
    </div>
  </form> {% endcomment %}
  <form method="POST" action="{% url 'stores:stocks:update' object.id %}">
    {% csrf_token %}
    <div class="modal-body">{{ form.as_p }}</div>
    <div class="modal-footer">
      <a href="{% url 'stores:stocks:index' %}" class="btn btn-secondary me-1">Cancelar</a>
      <button type="submit" class="btn btn-primary">Editar</button>
    </div>
  </form>
{% endblock %}
