{% extends 'index.html' %}
{% block title %}
  Crear Item Requirement
{% endblock %}
{% block header %}
  Item Requirement
{% endblock %}

{% block body %}
  <form method="POST" action="{% url 'stores:item_requirements:create' %}">
    {% csrf_token %}
    <div class="modal-body">{{ form.as_p }}</div>
    <div class="modal-footer">
      <a href="{% url 'stores:item_requirements:index' %}" class="btn btn-secondary me-1">Cancelar</a>
      <button type="submit" class="btn btn-primary">Confirmar</button>
    </div>
  </form>
{% endblock %}
